.App{
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
  
}
.home{
  height: 140vh;
  width: 100vw;
  position: relative;
  
}

.brand{
  position: absolute;
  top: -3%;
  left: 2%;
  height: auto;
}
.brand img{
  height: 150px;
  width: 55px;

}
/*CEO's button and board styling */
.ceo-btn{
  position: absolute;
  left: 2%;
  top: 10%;
  
}
.ceo-btn button{
  background-color: green;
  color: rgba(255, 255, 255);
  padding: 1rem 3rem;
  border: none;

}
.ceo-btn button:hover{
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.25);
}
input:focus{
  outline: none;
}
/* search bar and icon */
.search-container{
  position: absolute;
  top: 3%;
  right: 2%;
  
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-right: none;
  padding: 5px;
  height: 35px !important;
  outline: none;
  color: rgba(0,0,0);
}

.searchTerm:focus{
  color: rgba(0,0,0);
}

.searchButton {
  width: 40px;
  height: 32px;
  border: 1px solid green;
  background: green;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Home content */
.home-content{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.nav-box{
  height: 9rem !important;
  width: 18rem !important;
  border: 0.2rem solid green;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem !important;
  margin-top: 1.5rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.2);
}
.nav-box:hover{
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.35);

}

.nav-box p{
  font-size: 0.9rem;
  color: red;
  line-height: 1.4rem;
}
.nav-box p span{
  font-style: italic;
  font-weight: bold;
}
.nav-box h3{
  font-size: 1.2rem;
}
.nav-boxes-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  
}

.nav-boxes{
  width: 70vw;
  display: flex;
  justify-content: space-between;

}
.navbox0{
  margin-bottom: 2rem;
}
.navbox2{
  
  margin-top: 2rem;
}

.brand-description{
  font-size: 1.2rem;
}

.sellingPoint-section{
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.selling-pointHeader{
  font-size: 1.25rem;
}

.selling-point{
  height: 5rem;
  width: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid green;
  cursor: pointer;
}
.selling-points{
  margin-top: 2rem;
  display: flex;
  width: 50vw;
  justify-content: space-between;
  left: 50%;

}

/* Media query for home content */
@media screen and (max-width: 1030px) {
  .home-content{
    top: 25%;
  }
  
}

@media screen and (max-width: 800px) {
  .home-content{
    top: 30%;
  }

  .nav-boxes{
    width: 90vw;
  }
  .nav-box{
    width: 14rem;
  }

  .selling-points{
    width: 70vw;
  }
}

@media screen and (max-width: 500px) {
  .home-content{
    top: 45%;
  }

  .nav-boxes{
    width: 90vw;
  }
  .nav-box{
    width: 8rem;
    padding: 0.3rem 1rem 0.2rem 1rem;
  }
  .nav-box p{
    font-size: 0.7rem;
    color: red;
  }
  .nav-box h3{
    font-size: 0.8rem;
  }

  .selling-points{
    width: 90vw;
  }
  .selling-point{
    width: 6.5rem;
    font-size: 0.8rem;
  }
}


@media screen and (max-width: 400px) {
  .home-content{
    top: 40%;
  }

  .nav-boxes{
    width: 95vw;
  }
  
  .nav-box p{
    font-size: 0.7rem;
    color: red;
  }
  .nav-box h3{
    font-size: 0.7rem;
  }

  .selling-points{
    width: 95vw;
  }
  .selling-point{
    width: 6.5rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 370px){
  .home-content{
    top: 45% !important;
  }
  .home{
    height: 150vh;
  }
}

@media screen and (max-width: 375px), 
       screen and (max-height: 750px) {
        .home-content{
          top: 50% !important;
        }
}


@media screen and (width: 375px), 
       screen and (height: 812px) {
        .home-content{
          top: 40%;
        }
}

@media screen and (max-width: 330px), 
       screen and (max-height: 575px) {
        .home-content{
          top: 60% !important;
        }
        .brand-name{
          font-size: 1.2rem;
        }
        .brand-description,
        .selling-pointHeader{
          font-size: 1rem;
        }
        .nav-box{
          width: 7rem;
        }
        .selling-point{
          width: 5.5rem;
        }
}

/* CEO's board */
.ceo-board{
  height: 100vh;
  position: relative !important;
  background-color: rgba(0,0,0, 0.9)!important;
}

.ceo-board .home-content{
  position: absolute !important;
  top: 30% !important;
  color: white !important;
}
.ceo-board .nav-boxes {
  width: 50vw !important;
  margin-top: 10% !important;
}



/*style for upload doc page */

.upload-doc{
  height: 100vh;
  width: 100vw;
  position: relative;

}

.home-btn{
  border: none;
  background-color: green;
  color: rgba(255, 255, 255);
  padding: 0.5rem 1.4rem;
  position: absolute;
  top: 3%;
  right: 2.5%;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.1);
}
.home-btn:hover{
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.3);
}

.uploadPage-content{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
.uploadPage-content h2{
  font-weight: lighter;
  font-weight: 400;
}

.uploadDoc-box{
  height: 7rem;
  width: 12rem;
  border: thin solid rgba(0,0,0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: red;
  margin-top: 2rem;
  padding: 1rem 0 0 0;
  cursor: pointer;
}

.uploadDoc-box img{
  height: 3rem;
  width: 2.5rem;
}

.uploadPage-content label{
  display: block;
}

.uploadPage-content .input-box{
  margin-top: 1.5rem;
}

.uploadPage-content .input-box input{
  width: 16rem;
  height: 1.4rem;
}

.uploadPage-content2{
  top: 50%;
}

.uploadPage-content2 button{
  width: auto;
  padding: 0.4rem 1.2rem;
  background-color: green;
  color: rgba(255, 255, 255);
  border: none;
  margin-top: 1.2rem;
  cursor: pointer;

}

/* find property page */
.find-property{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.find-property-content h2{
  position: absolute;
  width: 16rem;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-weight: 400;
}
.property-img{
  width: 200px;
  height: 200px;
}
.property-img img{
  height: 100%;
  width: 100%;
}
.carousel{
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: 60% !important;
  transform: translate(-50%, -50%) !important;
 
  
}
.rec-arrow{
  background-color: green !important;
  height: 50% !important;
  border-radius: 0% !important;
}
.rec-pagination{
  padding: 0 !important;
}
.rec-pagination button{
  height: 0.5px !important;
  width: 10px !important;
  border-radius: 0% !important;
  background-color: transparent !important;
  padding: none !important;
  color: rgba(255, 255, 255) !important;

}
.registered-property{
  display: flex;
  width: 80%;
  justify-content: space-between;
  
  
}
.search-property{
  left: 5%;
  top: 20%;
  width: 16rem;
}
.google-map{
  position: absolute;
  right: 5%;
  top: 10%;
  width: 40rem;
  height: 20rem;
  margin-left:auto;
  margin-right: 3rem;
  margin-top: 5rem;
}

.find-property-header{
  margin-top: 5rem;
  text-align: center;
 
}
.text-details a{
  background-color: green;
  color: rgba(255, 255, 255) !important;
  padding: 1rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}



/*Find property */
@media screen and (max-width: 600px){

.find-property-content h2{
  position: absolute;
  width: 16rem;
  left: 50%;
  top: 2%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-weight: 400;
}

.search-property{
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 16rem;
}
.google-map{
  position: absolute;
  left: 5%;
  top: 18%;
  width: 75vw;
  height: 20rem;
  margin-left:auto;
  margin-right: 3rem;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  
}

@media screen and (max-width: 380px){
  .search-property{
    top: 23%;
  }
}




/*buy land styling */

.buy-land{
  position: relative;
  width: 100vw;
  height: 100vh;
}
.buyLand-content{
  position: absolute;
  width: 70vw;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.buyLand-content h2{
  font-weight: lighter;
  font-weight: 400;
}

.properties-for-sale{
  
  position: absolute;
  top: 7%;
  height: auto;
}
.property-for-sale{
  top: 5%;
  width: 50vw;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  
}

.landImage{
  height: 200px;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.landImage label{
  font-size: 1.1rem;
}
.property-for-sale img{
  height: 150px;
  width: 220px;
}
.land-description p{
  width: 150px;
  height: 120px;
  border: thin solid rgba(0,0,0);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 0.8rem;
}
.land-details button{
  background-color: green;
  color: rgba(255, 255, 255);
  padding: 0.5rem 1.5rem;
  border: none;
}

.filters{
  position: absolute;
  top: 15%;
  right: 15%;
  
}
.filter-options{
  border: thin solid rgba(0,0,0);
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5rem;
  
  
}
.filter-options span{
  margin-top: 1rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: flex-start;
  
}

.section-header{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: lighter;
  font-weight: 400;
}

.filter-options-toggle{
  height: auto;
  width: auto;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  
  position: absolute;
  position: fixed;
  bottom: 2%;
  right: 5%;
  z-index: 9;
  display: none;
  
}
.filter-options-toggle img{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/*media query for buy land */

@media screen and (max-width: 800px) {
  
  .filter-comp{
    position: absolute;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    top: 0;
    
    position: relative;
    position: fixed;
    display: none;
  }
  .filter-comp-show{
    display: block;
  }
  .filters{
    z-index: 9999999;
    color: rgba(255, 255, 255);
    position: absolute;
    top: 30%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    
    
  }
  .filter-comp button{
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255);
    font-size: 2rem;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }
  .filter-options{
    
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: auto;
    border: none;
    width: 100vw;
    font-size: 1.2rem;  
  }
  .filter-header{
    font-size: 1.2rem;
  }
  .filter-options span{
    font-size: 1rem;
  }
  
  .buyLand-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .properties-for-sale{
    text-align: center;
    border: none;
  
  }


  .property-for-sale{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.05);
    padding: 1rem 3rem;
  }

  .filter-options-toggle{
    display: block;
  }

 
}


/*sell Land styles */

.sell-land{
  width: 100vw;
  height: 100vh;
  position: relative;
}

.sell-requirements{
  position: absolute;
  top: 60%;
  width: 95%;
  height: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  
}
.property-info{
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
}
.property-info span{
  display: block;
}

.upload-docs-forSale{
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: space-between;
}
.upload-docs-forSale button{
  padding: 0.6rem 1.3rem;
  background-color: green;
  border: none;
  color: rgba(255, 255, 255);
}

/* media query for SELL LAND */
@media screen and (max-width: 750px){
  .sell-requirements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .property-info input,
  .property-info textarea{
    width: 15rem;
  }
  .upload-docs-forSale button{
    margin-top: 1rem;
  }

  .filters-on-sell{
    display: none;
  }

}


/* preview property */
.preview-property{
  position: relative;
  height: 100vh;
  width: 100vw;
}

.property-preview-details{
  position: absolute;
  height: 80%;
  width: 50%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.property-preview-details img{
  height: 200px;
  width: 200px;
}

.preview-btns{
  position: absolute;
  bottom: 20%;
  width: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}
.preview-btns button{
  padding: 0.6rem 2rem;
  background-color: green;
  border: none;
  color: rgba(255, 255, 255);
  font-size: 1.1rem;
  cursor: pointer;
}

/*loader style */
.main-loader{
  height: 100vh;
  width: 100vw;
  position: relative;
  
}

.main-loader img{
  
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*general */
button{
  cursor: pointer;
}
input::placeholder{
  text-align: center;
}


/*Land owner reg form section */
.land-owner-reg{
  position: relative;
  text-align: center;
  height: 100vh;
  width: 100vw;
  
}

.reg-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255);

}
.reg-form button{
  background-color: green;
  color: rgba(255, 255, 255);
  padding: 0.5rem 4rem;
  border: none;
  margin-top: 1rem;

}
.reg-form h3{
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  
}
.reg-form .input-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
}

.reg-form .input-box input{
  height: 1.8rem;
  width: 20rem;
}

/*media query for land owner reg form */

@media screen and (max-width: 360px) {
  .land-owner-reg .input-box input{
    height: 1.8rem;
    width: 16rem;
  }
  .land-owner-reg h3{
    font-size: 1.2rem;
    top: 15%;
  }
  .land-owner-reg form{
    top: 60%;
  }


  
}

@media screen and (max-width: 330px) {
  .land-owner-reg .input-box input{
    height: 1.8rem;
    width: 16rem;
  }
  .land-owner-reg h3{
    font-size: 1.2rem;
    top: 15%;
  }
  .land-owner-reg form{
    top: 65% !important;
  }


  
}

@media screen and (max-width: 450px) {
  .land-owner-reg .input-box input{
    height: 1.8rem;
    width: 16rem;
  }
  .land-owner-reg h3{
    font-size: 1.2rem;
    top: 15%;
  }
  .land-owner-reg form{
    top: 50%;
  }


  
}

/* Land owners Page */
.owners-profiles-page{
  height: auto;
  
}

.owners-profiles-page .section-header{
  margin-top: 2rem;
}
.owner-details img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;

}

.owner-details div span{
  font-style: italic;
}
.owner-details{
  
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0,0,0, 0.1);
  width: 270px;
  height: 270px;
  padding: 1rem;
  font-size: 0.8rem;
  margin: 1rem;
  position: relative;

}
.other-details{
  position: absolute;
  width: 100%;
  height: 80%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);

}
.other-details div{
  display: flex;
  align-items: center;
  border: none;
  justify-content: space-between;
  padding: 0 1rem;

}
.owner-image{
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translate(-50%);
}

.owners-list{
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 90vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  
  

}


@media screen and (max-width: 450px) {
  .owners-list{
    top: 35%;
     
  
  }


  
}

/* register land */
.input-box div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-box div img{
  height: 30px;
  width: 30px;
  cursor: pointer;
}

/* bootstrap modal dialogue on ceo board and validators board */
.modal-content{
  height: 80vh !important;
}
.modal-title{
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


/* styling for progress loader */
.progress-loader{
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-loader img{
  
  height: 190px;
  width: 220px;
  border-radius: 50%;
}
.progress-loader span{
  color: green;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2rem;
  width: 600px;
}

